{#
! Malconfig fra Atea best practice for Catalyst access-switcher
! Basert på Cisco BP docs, erfaring, Voodo, og litt IPA.
! Versjon 2.1 201503025 - Øyvind Ellefsen
!
! Dette er en Jinja2 mal, for bruk i gencfg.py script. Variable data hentes fra data.csv fil. 
! 
! Fyll inn variablene øverst først, resten er cut&paste på det aller meste av IOS, switch og router.
! Config er ikke kompatibel med IOS-XR, eller NXOS

! Unike variabler per device, verdier hentes fra data.csv
!  HOSTNAME 		Hostnavn, uten domene, ikke space, maks 15 tegn
!  MGMTIP			IP for management interface, 4 oktetter

{#
! Disse må settes først, før statisk config pastes, setter hostnavn, domene, genererer RSA nøkler for SSH, SNMP, etc.
#}

hostname {{ HOSTNAME }}
interface vlan 50
ip address {{ MGMTIP }} 255.255.255.0
no shut
ip default-gateway 10.10.10.1
ip domain-name Domene

ip access-list standard ACL-MGMT
description Management ACL, for SNMP, SSH, etc.
permit ip 10.0.0.0 0.255.255.255
permit ip 100.0.0.0 0.255.255.255

snmp-server contact POC1
snmp-server location loc1
snmp-server enable traps
snmp-server ifindex persist
ntp server 8.8.8.8
ntp server 1.2.3.4

! Passord og brukere for lokal fallback login
no enable password
enable secret HEMMELIIIIG!!!
username local-admin privilege 15 secret Sekret

! AAA med fallback til local ved AAA failure.
aaa new-model
aaa group server radius RADIUSSERVERE
server-private R1 key nokkel
aaa authentication login default group RADIUSSERVERE local enable none
aaa authorization exec default group RADIUSSERVERE local 

! Klokke, login, logging
clock timezone CET 1
clock summer-time CEST recurring last Sun Mar 2:00 last Sun Oct 3:00
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
no logging console

! Set services status 
no service pad
service password-encryption
service sequence-numbers
service tcp-keepalives-in
service tcp-keepalives-out
no service finger
no service pad
no service udp-small-servers
no service tcp-small-servers
no ip bootp server
no ip finger
no ip source-route
no ip gratuitous-arp
no ip identd
no ip http server
no ip http secure-server
no ip source-route

! Arkivering av config til flash
! Endre evnt. path


! Enable ssh (Denne tar tid, sjekk at hele config går igjennom)
crypto key generate rsa general mod 1024
ip ssh version 2

! TTY timeouts
line con 0
logging synchronous
exec-timeout 120 0

line vty 0 15
logging synchronous
transport input ssh
exec-timeout 120 0
access-class ACL-MGMT in

! Messages
aaa authentication fail-message %
======================================

Login failed - This is now logged

======================================
%

banner exec %
Connected to $(hostname) on line $(line)
%

banner motd %

===================================

**** IF UNAUTHORIZED, EXIT NOW ****

===================================

===================================================================
This system is for the use of authorized users only. Individuals
using this computer system without authority, or in excess of their
authority, are subject to having all of their activities on this
system monitored and recorded by system personnel.
In the course of monitoring individuals improperly using this
system, or in the course of system maintenance, the activities of
authorized users may also be monitored.
Anyone using this system expressly consents to such monitoring and
is advised that if such monitoring reveals possible evidence of
criminal activity, system personnel may provide the evidence of
such monitoring to law enforcement officials.
===================================================================
%

!
spanning-tree mode rapid-pvst
spanning-tree extend system-id

end
write
